<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="123">
	<listeners>
		<listener class-name = 
	</listeners>
	<test name ="LoginTest" verbose ='2'>
		<classes>
			<class name = "com.MyFramework_1.testcases.LandingPage_TC"/>					
		</classes>	
	</test>
</suite>